{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <section class="form-section">
        <div class="form-container">
            <div><a id="titulo-new">NEW</a><a id="titulo-prev">PREV</a></div>
            <!-- <div class="vertical-spacer"></div> -->
            <h2>LOGIN</h2>
            <h3>Acesse a sua conta no NewPrev</h3>
            <div class="vertical-spacer"></div>
            <form action="#" class="formulario" method="POST">
                <input class="form-campo" name="usuario" placeholder="Entre com seu e-mail" required>
                <input class="form-campo" type="password" size="10" maxlength="10" name="senha" placeholder="Digite sua senha" required>
            </form>
            <div class="esq-senha">
                <div>
                    <a>Esqueceu a senha?</a>
                    <a class="btn-esquce-senha" href="#">Clique aqui!</a><br>
                </div>
                <div>
                    <input type="checkbox"><label> Manter-me conectado</label>
                </div>
            </div>
            <div class="btn-principal">
                <input type="button" class="btn-principal-entrar" type="submit" value="Entrar"> 
            </div>
            <div class="vertical-spacer"></div>
        </div>
    </section>

    {% endblock %}