#Variaveis de ambiente
.env


#Conexoes com o banco de dados
datasource/hearthstone.json
datasource/magic.json
datasource/marioCart.json


#Ambiente virtual
prevServEnv/


*.pyc

logs/historicoLogs/*.txt

.vscode/
/media/foto/*
