@import '../1-base/colorSystem';
@import '../1-base/btnDesign';


.login-section{
    width: 100%;
    height: 80vh;
    background-color: whiteColor(300);
    z-index: 2;
    position: relative;

    .form-container {
        display: flex;
        margin: 0px 20px;
        flex-direction: column;
        width: 25%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        background-color: whiteColor();
        padding: 3rem 8px;
        box-shadow: 4px 4px 4px rgba($color: blackColor(600), $alpha: 0.5);
        position: absolute;
        margin: -3rem 2rem;

        .vertical-spacer {
            height: 2.5rem;
        }

        h2 {
            font-family: 'Bebas Neue';
            font-size: 2rem;
        }

        h3 {
            text-align: center;
        }
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 85%;            

            .form-campo {
                margin: 0.5rem 0;
            }
        }

        .esq-senha {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            div {
                margin: 6px;
            }
        }

        .criar-conta {
            margin-top: -1rem;
        }

        #titulo-new {
            font-size: 3rem;
            color: primaryColor(-100);
    
            &:hover {
                transition: .2s;
                font-size: 3.5rem;
    
                #titulo-prev {
                    font-size: 2.7rem;
                }
            }
        }
    
        #titulo-prev {
            font-size: 3.2rem;
            color: primaryColor();
            font-weight: bold;
    
            &:hover {
                transition: .2s;
                font-size: 3.5rem;
    
                #titulo-new {
                    font-size: 2.7rem;
                }
            }
        }
    }

    .area-vazia {
        width: 70%;
    }
    
}

#btn-principal-entrar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5rem;
    cursor: pointer;
    margin: 0 0 1rem 0;
    @extend %btn-principal-G;
        
        &:hover {
            transition: .2s;
            box-shadow: 2px 2px 3px blackColor(600);
        }
}

.btn-secundario-primAcesso {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: -20px;
    cursor: pointer;
    margin: 0 0 1rem 0;
    align-self: flex-start;
    @extend %btn-secondary-M;

    &:hover {
        transition: .2s;
        box-shadow: 2px 2px 3px blackColor(600);
    }
}