@import '../1-base/colorSystem';
@import 'navMixins';


.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: 100%;
    height: 5rem;
    background-color: primaryColor();
    z-index: 10;

    #cabecalho-logo {
        color: blackColor(800);
        font-size: 2rem;
        align-items: center;
        @include logoHover();
    }

    #titulo-new {
        font-size: 1.5rem;
        color: blackColor(800);

    }

    #titulo-prev {
        font-size: 1.5rem;
        color: blackColor(800);
        font-weight: bold;
    }

    .fa-solid.fa-gavel {
        color: blackColor(800);
        font-size: 2rem;
    }

    .menu-lista {
        display: flex;
        align-items: center;
        height: 100%;

        &-item{
            margin: 0 1rem;
        }

        a {
            color: blackColor(800);
            @include menuHover();
        }

    }
}