{% load static %}

<header>
    <div class="cabecalho">
        <a href="#" class="logo"><i class="fa-solid fa-gavel"></i> NewPrev</a>
        <nav class="menu">
            <ul class="menu-lista">

                {% if user.is_authenticated %}
                    <li class="menu-lista-item"><a class="menu-item-link" href="#">Home</a></li>
                    <li class ="menu-lista-item"><a class ="menu-item-link ativo" href="escritorio={{user.nomeEscritorio}}">Seu Escritório</a></li>
                    <li class="menu-lista-item"><a class="menu-item-link" href="#">Sobre nós</a></li>
                    <li class="menu-lista-item"><a class="menu-item-link" href="#">Logout</a></li>

                {% else %}
                    <li class="menu-lista-item"><a class="menu-item-link " href="#">Home</a></li>
                    <li class="menu-lista-item"><a class="menu-item-link" href="">Sobre nós</a></li>
                    <li class="menu-lista-item"><a class="menu-item-link ativo" href="#">Cadastre-se</a></li>
                    <li class="menu-lista-item"><a class="menu-item-link" href="#">Login</a></li>
                {% endif %}
            </ul>
    </div>
</header>
<div class="cabecalho__linha"></div>
<!-- <img class="capa" src="img/capa.png" alt=""> -->