{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <section class="form-cadastro">
        <div class="form-cadastro-container">

            <form id="cadastro-form" action="{% url 'avaliaCadAdvogado' %}" class="form-cadastro-container-left" method="POST">
                {% csrf_token %}
                <div class="vertical-spacer"></div>
                
                <h1 class="titulo-padrao">Cadastro do advogado</h1>
            
                <!-- Logo com texto informativo -->
                <label class="img-usuario" for="foto-advogado">
                    Enviar arquivo
                    <img src="../media/user.png" alt="Foto usuario">
                    <input id="foto-advogado" type="file" name="foto-advogado" class="foto-advogado">
                </label>

                <div class="colunas-forms">
                    <!-- Colunas com os formulários de cadastro do advogado-->
                    <div class="form-info-escritorio">

                        <!-- Dados pessoais -->
                        <div class="info-dados">
                            <h3 class="titulo-padrao">Dados pessoais</h3>
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="form-list">
                            <input id="primeiroNome" class="form-campo" value="{{ advogado.primeiroNome }}" name="primeiroNome" placeholder="Primeiro nome" title="Primeiro nome" autofocus required>
                            <input id="sobrenome" class="form-campo" value="{{ advogado.sobrenome }}" name="sobrenome" placeholder="Sobrenome" title="Sobrenome" required>
                            <input id="cpf" class="form-campo" value="{{ advogado.cpf }}" name="cpf" placeholder="CPF" type="number" title="CPF do advogado" required>
                            <input id="oab" class="form-campo" value="{{ advogado.oab }}" name="oab" placeholder="Nº OAB" title="OAB do advogado" required>
                            <input id="email" class="form-campo" value="{{ advogado.email }}" name="email" placeholder="E-mail do advogado" title="E-mail que você receberá notificações" required>
                        </div>
                        <div class="vertical-spacer"></div>
                        <div class="vertical-spacer"></div>
                        <div class="info-dados">
                            <h3 class="titulo-padrao">Senha</h3>
                            <i class="fa-solid fa-pencil"></i>
                        </div>

                        <!-- Senha -->
                        <div class="form-list">
                            <input id="password" class="form-campo" type="password" name="password" placeholder="Digite uma senha provisória" title="Senha provisória" required>
                        </div>

                    </div>

                    <!-- Coluna com as informações do endereço do advogado -->
                    <div class="form-endereco-contato">
                        
                        <!-- Endereço -->
                        <div class="info-dados">
                            <h3 class="titulo-padrao">Endereço do advogado</h3>
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="form-list">
                            <input id="cep" class="form-campo" value="{{ endereco.cep }}" name="cep" placeholder="CEP" title="CEP do advogado" type="number">
                            <div class="cidade-estado">
                                <input id="cidade" class="form-campo" value="{{ endereco.cidade }}" name="cidade" placeholder="Cidade" title="Cidade de domicílio do advogado">
                                {% include 'partials/estados.html' %}
                            </div>
                            <input id="bairro" class="form-campo" value="{{ endereco.bairro }}" name="bairro" placeholder="Bairro" title="Bairro de domicílio do advogado">
                            <input id="endereco" class="form-campo" value="{{ endereco.endereco }}" name="endereco" placeholder="Endereço" title="Logradouro de domicílio do advogado">
                            <div class="num-complemento">
                                <input id="numero" class="form-campo" value="{{ endereco.numero }}" name="numero" placeholder="Nº do imóvel" type="number" title="Nº do imóvel de domicílio do advogado">
                                <input id="complemento" class="form-campo" value="{{ endereco.complemento }}" name="complemento" placeholder="Complemento" title="Complemento do logradouro de domicílio do advogado">
                            </div>
                        </div>

                        <!-- Contato -->
                        <div class="vertical-spacer"></div>
                        <div class="vertical-spacer"></div>
                        <div class="info-dados">
                            <h3 class="titulo-padrao">Contato</h3>
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="contato-form-list">
                            <input id="celular" class="form-campo" value="{{ contato.celular }}" name="celular" placeholder="Contato - Celular" title="Celular/whatsapp contendo apenas números" required>
                            <div class="whatsapp-telegram">
                                <div class="form-check form-switch">
                                    <input name="is-whatsapp" class="form-check-input" type="checkbox" role="switch" id="cb-is-whatsapp" checked>
                                    <label class="form-check-label" for="cb-is-whatsapp">Whatsapp</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input name="is-telegram" class="form-check-input" type="checkbox" role="switch" id="cb-is-telegram" checked>
                                    <label class="form-check-label" for="cb-is-telegram">Telegram</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="botoes-acao-cadastro">
                    <input class="btn-principal-entrar" type="submit" value="Cadastrar">
                    <input class="btn-secondary-cancelar" type="submit" value="Cancelar">
                    <div class="spacer-horizontal"></div>
                </div>
            </form>

            <!-- Card informativo à esquerda do cadastro -->
            <div class="form-cadastro-container-right">
                <div class="info-cadastro-item">
                    <div class="color-firula"></div>
                    <div class="conteudo">
                        <a>Todas as informações cadastradas serão utilizadas nos documentos gerados pelo NewPrev. Antes de finalizar o cadastro, verifique se as informações estão corretas.</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src={% static "js/cadastroAdv.js" %}></script>

    {% endblock %}