<div class="grid-advogados-container">
    <div class="texto-saudacao">
        <h3>Olá! Seja bem-vindo(a) de volta!</h3>
    </div>

    <!-- Cards dos advogados cadastrados -->
    {% if  not primeiroAdvogado %}
    <section class="grid-advogados-cadastrados">
        {% for chave in chaves %}
            {% include 'dashboard/localHtmls/_cardAdvogado.html' %}
        {% endfor %}
        
        {% if aCadastrar %}
            {% include 'dashboard/localHtmls/_cardACadastrar.html' %}
        {% endif %}

    </section>

    <!-- Tela inicial de escritório sem advogados cadastrados -->
    {% else %}
    <section class="sem-cadastro-section">
        <div class="container-conteudo">
            <div class="container-central">
                <div class="img-background">
                    <i class="fa-solid fa-address-card"></i>
                </div>
                <div class="texto-central">
                    <p id="texto-central-maior">Você não possui advogados cadastrados</p>
                    <p id="texto-central-menor">Cadastre quem irá trabalhar no sistema?</p>
                </div>
                <a class="btn cadastra-advogado" href="{% url 'cadastroAdvogado' %}">Cadastrar advogados</a>
            </div>
            <!-- <div class="horizontal-spacer m"></div> -->
        </div>
    </section>
    {% endif %}
</div>