{% extends 'base.html' %}
{% load static %}

    {% block content %}

    <section class="form-cadastro">
        <div class="form-cadastro-container">

            <form id="cadastro-form" action="{% url 'efetivaAtualizaCadastro' %}" class="form-cadastro-container-left" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="vertical-spacer"></div>
                
                <h1 class="titulo-padrao">Cadastro do advogado</h1>
            
                <label class="img-usuario" for="foto-advogado">
                    {% if info.fotoPath is not None and info.fotoPath != '' %}
                    Atualizar arquivo
                    <img src="../..{{ info.fotoPath.url }}" alt="Foto usuario">
                    {% else %}
                    Enviar arquivo
                    <img src="{% static 'images/user.png' %}" alt="Foto usuario">
                    {% endif %}
                    <input id="foto-advogado" type="file" name="foto-advogado" class="foto-advogado">
                </label>

                <div class="colunas-forms">
                    <!-- Colunas com os formulários de cadastro do advogado-->
                    <div class="form-info-escritorio">
                        <div class="info-dados">
                            <h3 class="titulo-padrao">Dados pessoais</h3>
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="form-list">
                            <input id="advogadoId" class="form-campo" value="{{ info.advogadoId.advogadoId }}" type="number" name="advogadoId" hidden>
                            <input id="primeiroNome" class="form-campo" value="{{ info.primeiroNome }}" name="primeiroNome" placeholder="Primeiro nome" title="Primeiro nome" autofocus required>
                            <input id="sobrenome" class="form-campo" value="{{ info.sobrenome }}" name="sobrenome" placeholder="Sobrenome" title="Sobrenome" required>
                            <input id="cpf" class="form-campo" value="{{ info.cpf }}" name="cpf" placeholder="CPF" type="number" title="CPF do advogado" required>
                            <input id="oab" class="form-campo" value="{{ info.oab }}" name="oab" placeholder="Nº OAB" title="OAB do advogado" required>
                            <input id="celular" class="form-campo" value="{{ info.celular }}" name="celular" placeholder="Contato - Celular" title="Celular/whatsapp contendo apenas números" required>
                            <input id="email" class="form-campo" value="{{ info.email }}" name="email" placeholder="E-mail do advogado" title="E-mail que você receberá notificações" required>
                        </div>
                        <div class="vertical-spacer"></div>
                        <div class="vertical-spacer"></div>
                        <div class="info-dados">
                            <h3 class="titulo-padrao">Senha</h3>
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="form-list">
                            <input id="password" class="form-campo" type="password" name="password" placeholder="Digite uma senha provisória" title="Senha provisória" required>
                        </div>
                    </div>

                    <!-- Coluna com as informações do endereço do advogado -->
                    <div class="form-info-endereco">
                        <div class="info-dados">
                            <h3 class="titulo-padrao">Endereço do advogado</h3>
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="form-list">
                            <input id="cep" class="form-campo" value="{{ info.cep }}" name="cep" placeholder="CEP" title="CEP do advogado" type="number">
                            <div class="cidade-estado">
                                <input id="cidade" class="form-campo" value="{{ info.cidade }}" name="cidade" placeholder="Cidade" title="Cidade de domicílio do advogado">
                                {% include 'partials/estados.html' %}
                            </div>
                            <input id="bairro" class="form-campo" value="{{ info.bairro }}" name="bairro" placeholder="Bairro" title="Bairro de domicílio do advogado">
                            <input id="endereco" class="form-campo" value="{{ info.endereco }}" name="endereco" placeholder="Endereço" title="Logradouro de domicílio do advogado">
                            <div class="num-complemento">
                                <input id="numero" class="form-campo" value="{{ info.numero }}" name="numero" placeholder="Nº do imóvel" type="number" title="Nº do imóvel de domicílio do advogado">
                                <input id="complemento" class="form-campo" value="{{ info.complemento }}" name="complemento" placeholder="Complemento" title="Complemento do logradouro de domicílio do advogado">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="botoes-acao-cadastro">
                    <input class="btn-principal-entrar" type="submit" value="Atualizar">
                    <input class="btn-secondary-cancelar" type="submit" value="Cancelar">
                    <div class="spacer-horizontal"></div>
                </div>
            </form>

            <!-- Card informativo à esquerda do cadastro -->
            <div class="form-cadastro-container-right">
                <div class="info-cadastro-item">
                    <div class="color-firula"></div>
                    <div class="conteudo">
                        <a>Todas as informações cadastradas serão utilizadas nos documentos gerados pelo NewPrev. Antes de finalizar o cadastro, verifique se as informações estão corretas.</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src={% static "js/cadastroAdv.js" %}></script>

    {% endblock %}