<div class="card-padrao-advogado">
    <img class="foto-advogado">
    <ul class="info-lista">
        <li></li>
        <li></li>
        <li>
            <h4>{{ advogado.primeiroNome }} {{ advogado.sobrenome }}</h4>
        </li>
        <li>
            <h5>OAB: {{ advogado.oab }}</h5>
        </li>
        <li>
            <h5>E-mail: {{ advogado.email }}</h5>
        </li>
        <li></li>
        <li></li>
    </ul>
    <ul class="botoes-acao">
        <li><a href="{% url 'atualizaCadastro' advogado.advogadoId %}"><i class="fa-solid fa-pencil"></i></a></li>
        <li><a href="#"></a><i class="fa-solid fa-trash"></i></li>
    </ul>
</div>