{% extends '../base.html' %}
{% load static %}

    {% block content %}

    <section class="container-principal">
        <nav class="menu-lateral">
            <div id="cabecalho-logo">
                <i class="fa-solid fa-gavel"></i>
                <a id="titulo-new">NEW</a>
                <a id="titulo-prev">PREV</a>
            </div>

            <div class="info-empresa">
                {% if escritorio.cnpj is not None %}
                    <h4 class="CNPJ">CNPJ: {{ escritorio.cnpj }}</h5>
                {% endif %}
                <div class="chaves-acesso">
                    <h5 class="chaves-acesso-descricao">Advogados: </h5>
                    <div></div>
                    <h6 class="chaves-acesso-qtd">{{ qtdChaves }} / {{ qtdChavesTotais }}</h6>
                </div>
            </div>

            <div class="vertical-spacer"></div>

            <div class="menu-funcionalidades">
                <div class="infos-cadastro">
                    <h4>Informações de cadastro</h4>
                    <ul>
                        <li id="menu-cadastro-escritorio">
                            <i class="fa-solid fa-building-columns"></i>
                            <a href="#">Escritório</a>
                        </li>
                        <li id="menu-cadastro-advogados">
                            <i class="fa-solid fa-user-group"></i>
                            <a href="#">Advogado</a>
                        </li>
                    </ul>
                </div>

                <div class="vertical-spacer"></div>

                <div class="infos-gerencial">
                    <h4>Gerencial</h4>
                    <ul>
                        <li id="menu-cadastro-gerencial">
                            <i class="fa-duotone fa-chair-office"></i>
                            <a href="#">Gerenciar chaves</a>
                        </li>
                    </ul>
                </div>

                <div class="vertical-spacer"></div>

                <div class="infos-configuracoes">
                    <h4>Configurações</h4>
                    <ul>
                        <li id="menu-cadastro-escritorio">
                            <i class="fa-solid fa-cloud-arrow-up"></i>
                            <a href="#">Backup</a>
                        </li>
                    </ul>
                </div>

                <a id="menu-cadastrar-advogado" href="{% url 'cadastroAdvogado' %}">
                    <i class="fa-solid fa-user-plus"></i>
                    Cadastrar advogado
                </a>
            </div>
        </nav>

        <!-- Cards dos advogados cadastrados -->
        {% if  temChaves %}
        <section class="grid-advogados-cadastrados">
            {% for advogado in listaAdvogados %}
                {% include 'dashboard/_cardAdvogado.html' %}
            {% endfor %}
            
            {% if aCadastrar %}
                {% include 'dashboard/_cardACadastrar.html' %}
            {% endif %}

        </section>

        <!-- Tela inicial de escritório sem advogados cadastrados -->
        {% else %}
        <section class="sem-cadastro-section">
            <div class="container-conteudo">
                <div class="texto-saudacao">
                    <h3>Olá! Seja bem-vindo(a) de volta!</h3>
                </div>
                <div class="container-central">
                    <div class="img-background">
                        <i class="fa-solid fa-address-card"></i>
                    </div>
                    <div class="texto-central">
                        <p id="texto-central-maior">Você não possui advogados cadastrados</p>
                        <p id="texto-central-menor">Cadastre quem irá trabalhar no sistema?</p>
                    </div>
                    <a class="btn cadastra-advogado" href="{% url 'cadastroAdvogado' %}">Cadastrar advogados</a>
                </div>
                <div class="horizontal-spacer m"></div>
            </div>
        </section>
        {% endif %}

    </section>

    {% endblock %}